.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  padding: 10px 30px;
  transition: background-color .2s ease;
}

.option:hover {
  background-color: #F2A960;
}

.option:first-child{
  border-top-left-radius: 10px;
}

.option:last-child{
  border-bottom-left-radius: 10px;
}

.option-indicator {
  border-radius: 100%;
  height: 10px;
  margin-right: 25px;
  width: 10px;
}

.indicator-answer {
  background-color: #5fc696;
}

.indicator-default {
  background-color: #b7c4ff;
}

.indicator-selected {
  background-color: #ff6683;
}
