.stages-list{
  background-color: #525ca1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.stage {
  color: #fff;
  cursor: default;
  flex-basis: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.current-stage {
  background-color: #0D1362;
}
