.button-next {
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.button-grey{
  background-color: #acb9bc;
}

.button-green {
  background-color: #5fc696;
  cursor: pointer;
}
