.button {
  background-color: #5fc696;
  border-radius: 10px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.button-next {
  font-size: 18px;
}

.button-next:disabled {
  background-color: #acb9bc;
  cursor: default;
}

.play-again {
  font-size: 28px;
}
