.question {
  background-color: #d8e0fe;
  border-radius: 0 0 10px 10px;
  display: flex;
  padding: 15px 75px 15px 20px;
}

.question-image {
  border-radius: 10px;
  border: 1px solid #525ca1;
  height: 140px;
  object-fit: cover;
  width: 190px;
}
