.bar {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.bar-progress {
  flex: 1;
  border-radius: 5px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.knob {
  position: relative;
  height: 16px;
  width: 4px;
  background-color: #525ca1;
}
