.info {
  background-color: #d8e0fe;
  border-radius: 10px;
  box-shadow: 0 1px 3px 2px #b8c6fb;
  padding: 20px 30px 20px 20px;
}

.info-placeholder {
  font-size: 35px;
  margin-top: 45px;
  text-align: center;
  vertical-align: middle;
}
