.player-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.play-button {
  background-color: #525ca1;
  border-radius: 100%;
  cursor: pointer;
  height: 25px;
  padding: 20px;
  width: 25px;
}

.timeline {
  background-color: #525ca1;
  height: 3px;
  margin-left: 20px;
  width: 85%;
}

.play-icon {
  transform: translateX(13%);
}

.progress-bar {
  background-color: #0D1362;
  height: 4px;
  transform: translateY(-10%);
  transition: width 1s ease;
  width: 1%;
}