.info-image {
  border-radius: 10px;
  border: 1px solid #0082fc;
  box-shadow: 0 0 5px 1px #a8b8f4;
  display: inline-block;
  height: 140px;
  margin-right: 25px;
  object-fit: cover;
  width: 190px;
}

.info-data-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.info-name {
  font-size: 30px;
}

.latin-name {
  border-bottom: 1px solid rgba(1, 20, 159, .5);
  border-top: 1px solid rgba(1, 20, 159, .5);
  font-size: 20px;
  padding-left: 2px;
  padding-top: 4px;
}

.description {
  text-align: justify;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 110px;
}
